.shop-container{
    margin: 40px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cart-container{
    background-color: antiquewhite;
    margin-left: 20px;
    padding: 0px 10px;
}
.cart-iterm{
    display: flex;
    align-items: center;
}
.cart-iterm img{
    width: 25%;
    border-radius: 50%;
}
.choose-btn{
    width: 100%;
    background-color: #56ac00;
    color: white;
    margin-bottom: 10px;
    border: 0px;
}
.choose-btn:hover{
    background-color: #428500;
}
.delete-btn{
    width: 100%;
    background-color: #f00000;
    color: white;
    margin-bottom: 10px;
    border: 0px;
}
.delete-btn:hover{
    background-color: #b40000;
}

@media only screen and (max-width:688px) {

    .shop-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 10px;
    }
    .product-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 10px;
    }
    .cart-container{
        margin: 0px;
        padding: 10px;
    }
}
