.product{
    width: 300px;
    height: 475px;
    border: 1px solid gray;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
}
.product-info{
    text-align: center;
}
.product-name{
    font-size: 24px;
}
.cart-btn{
    background-color: antiquewhite;
    width: 100%;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-btn .btn-text{
    margin-right: 8px;
}
.cart-btn:hover{
    background-color: burlywood;
}